@use '../../functions' as *;

.page-container.page-404 {
  width: 100vw;
  max-width: breakpoint(large);

  section.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include mq(breakpoint(medium)) {
      margin-top: 2rem;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    @include mq(breakpoint(large)) {
      margin-top: 0;
    }

    @include mq(breakpoint(extraLarge)) {
      margin-top: 4rem;
    }
  }

  section > .content-link {
    display: flex;

    @include mq(breakpoint(medium)) {
      display: none;
    }
  }

  .content-container > .content-link {
    display: none;

    @include mq(breakpoint(medium)) {
      display: flex;
    }
  }

  .content-link {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .button-regular {
      margin: 0.25rem 0;
      width: 100%;
    }

    @include mq(breakpoint(medium)) {
      margin-top: 2rem;
    }

    @include mq(breakpoint(large)) {
      margin-top: 3rem;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .button {
        &-regular {
          width: auto;
          margin: 0;
        }

        &-complementary {
          margin-left: 1rem;
        }
      }
    }
  }

  .illustration {
    padding: 0 1rem;
    margin: 4rem 0 2rem 0;

    @include mq(breakpoint(medium)) {
      margin: 1rem 0 0 3rem;
      padding: 0;
    }
  }
}
