$colors: (
  primary: (
    100: hsl(266, 45%, 85%),
    200: hsl(266, 45%, 75%),
    300: hsl(266, 45%, 64%),
    400: hsl(266, 45%, 55%),
    500: hsl(266, 45%, 45%),
  ),
  secondary: (
    100: hsl(168, 95%, 66%),
    200: hsl(170, 74%, 52%),
    300: hsl(171, 100%, 38%),
    400: hsl(168, 64%, 47%),
    500: hsl(169, 100%, 27%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(278, 100%, 98%),
    300: hsl(0, 0%, 87%),
    400: hsl(273, 11%, 81%),
    500: hsl(0, 0%, 80%),
    600: hsl(268, 7%, 64%),
    700: hsl(261, 6%, 47%),
    800: hsl(0, 0%, 33%),
    900: hsl(268, 10%, 30%),
    1000: hsl(0, 0%, 20%),
  ),
);
