@use '../../functions' as *;

.logo {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.35rem;

  a {
    cursor: pointer;
    color: clr-neutral(1000);
    text-decoration: none;

    @include hvr-btn() {
      background: transparent;
      color: clr-primary(300);
    }

    span {
      font-family: 'Open Sans';
      font-weight: 700;
      color: clr-primary(300);
    }
  }
}

.header {
  .logo {
    transition: opacity 0.3s ease-in-out;

    &-hide {
      opacity: 0;

      @include mq(breakpoint(medium)) {
        opacity: 1;
      }
    }
  }
}
