@use '../../functions' as *;

.navigation-side {
  z-index: 100;

  @include mq(breakpoint(medium)) {
    display: none;
  }

  .sidebar {
    position: fixed;
    top: 65px;
    bottom: 0;
    left: 0;
    width: 16rem;
    height: 9rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 0 0 8px 0;
    box-shadow: 2px 4px 4px rgba(clr-neutral(1000), 0.075);
    background: clr-neutral(100);
    transition: all 0.3s ease-in-out;
    z-index: 100;

    &-open {
      transform: translateX(0);
    }

    &-close {
      transform: translateX(-18rem);
    }

    .nav {
      &-home,
      &-calc,
      &-education {
        padding: 0 16px;
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;

        @include hvr-btn() {
        }
      }

      &-icon,
      &-text {
        color: clr-neutral(1000);
      }

      &-icon {
        margin-right: 1rem;
        transform: scale(1.25);
      }

      &-text {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    .active {
      &,
      &:hover,
      &:focus-visible {
        background: rgba(clr-primary(100), 0.25);

        .nav {
          &-icon,
          &-text {
            color: clr-primary(400);
          }

          &-text {
            font-weight: 600;
          }
        }
      }
    }

    &.transition-none {
      transition: none;
    }
  }
}
