@use '../../functions' as *;
@use './header' as *;

$topbar-width: calc(
  360px + (380 - 360) * ((100vw - breakpoint(medium)) / (1024 - 640))
);

.navigation-top {
  display: none;

  @include mq(breakpoint(medium)) {
    display: block;
  }

  .topbar {
    width: $topbar-width;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;

    &-hide {
      opacity: 0;
    }

    .nav {
      &-home,
      &-calc,
      &-education {
        padding: 0 1.25rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include hvr-btn() {
        }
      }

      &-text {
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 32px;
        color: clr-neutral(700);

        &:hover,
        &:focus-visible {
          color: clr-primary(300);
          transition: none;
        }
      }
    }

    .active {
      .nav {
        &-text {
          color: clr-neutral(900);
          font-weight: 700;
          font-size: 0.92rem;
        }

        &-ornament {
          width: 1.5rem;
          height: 3px;
          border: 0;
          border-radius: 1rem;
          background: $clr_acc2_header;
        }
      }
    }
  }
}
