@use '../../functions' as *;

.page-container.page-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;

  section {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &.section {
      &-main {
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: breakpoint(large);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;

        @include mq(breakpoint(medium)) {
          margin-top: -6rem;
          padding: 0 2rem;
          height: 100vh;
          min-height: 38rem;
          max-height: 45.875rem;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          a.bullet-button {
            @include movingTop(0.5s) {
            }
          }

          .illustration {
            svg {
              transform: scale(-1, 1);
            }

            @include movingTop(0.5s) {
            }

            @include mq(breakpoint(medium)) {
              @include movingLeft(0.5s) {
              }
            }
          }
        }

        @include mq(breakpoint(large)) {
          margin-top: -3rem;
        }

        b {
          color: clr-primary(300);
        }

        a.bullet-button {
          position: relative;
          padding: 0.5rem;
          height: 2rem;
          width: 2rem;
          display: block;
          border-radius: 100%;
          border: 1px solid clr-neutral(1000);
          transition: all 0.2s ease;

          .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 1rem;
            width: 1rem;
            color: clr-neutral(1000);
            transform: translate(-50%, -50%);

            &:last-child {
              opacity: 0;
            }
          }

          &:hover,
          &:focus-visible {
            background: clr-primary(300);
            border: 1px solid clr-primary(300);

            .icon {
              color: clr-neutral(100);
              height: 1.25rem;
              width: 1.25rem;

              &:first-child {
                transform: translate(-50%, -67%);
              }

              &:last-child {
                opacity: 1;
                transform: translate(-50%, -33%);
              }
            }
          }
        }
      }

      &-second {
        padding: 2rem 0;
        background: clr-neutral(1000);

        @include mq(breakpoint(large)) {
          width: 100vw;
        }

        .title,
        span {
          text-align: center;
          color: clr-neutral(100);
        }

        .content {
          &-container {
            margin: 1.5rem 0;
            padding: 0 1rem;

            @include mq(breakpoint(medium)) {
              padding: 0 2rem;

              @include faded(0.3s) {
              }
            }
          }

          &-paragraph {
            text-align: center;
          }

          &-link {
            margin-top: 3rem;

            @include mq(425px) {
              flex-direction: row;
              align-items: center;
              justify-content: center;

              .button {
                &-regular {
                  width: auto;
                  margin: 0;
                }
              }
            }

            .button {
              &-regular,
              &-complementary {
                &:hover,
                &:focus-visible {
                  box-shadow: 0 2px 8px rgba(black, 0.4);
                }
              }
            }
          }
        }
      }

      &-third {
        padding-top: 6rem;
        padding-bottom: 0;

        @include mq(breakpoint(medium)) {
          padding-bottom: 3rem;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: space-between;

          .illustration {
            svg {
              transform: scale(1);
            }

            @include movingRight(0.5s) {
            }

            @include mq(breakpoint(medium)) {
              @include movingRight(0.5s) {
              }
            }
          }
        }
      }
    }

    .content {
      &-container {
        margin: 3rem 0;

        @include mq(breakpoint(medium)) {
          @include movingTop(0.3s) {
          }
        }
      }

      &-link {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .button-regular {
          margin: 0.25rem 0;
          width: 100%;
        }

        @include mq(breakpoint(medium)) {
          margin-top: 2rem;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          .button {
            &-regular {
              width: auto;
              margin: 0;
            }

            &-complementary {
              margin-left: 1rem;
            }
          }
        }

        @include mq(breakpoint(large)) {
          margin-top: 3rem;
        }
      }
    }
  }
}
