@use '../../functions' as *;

.page-container.page-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;

  section {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &.section {
      &-main,
      &-second {
        width: 100vw;
      }

      &-main {
        padding-left: 1rem;
        padding-right: 1rem;
        height: 100vh;
        min-height: 38rem;
        max-height: 45.875rem;
        max-width: breakpoint(large);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;

        @include mq(breakpoint(medium)) {
          margin-top: -6rem;
          padding-top: 0;
          padding-left: 2rem;
          padding-right: 2rem;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          a.bullet-button {
            @include movingTop(0.5s) {
            }
          }

          .illustration {
            @include movingTop(0.5s) {
            }

            @include mq(breakpoint(medium)) {
              @include movingLeft(0.5s) {
              }
            }
          }
        }

        @include mq(breakpoint(large)) {
          margin-top: -3rem;
        }

        b {
          color: clr-primary(300);
        }

        a.bullet-button {
          padding: 0.5rem;
          height: 2rem;
          width: 2rem;
          border-radius: 100%;
          border: 1px solid clr-neutral(900);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.2s ease;

          .icon {
            margin-top: 0.12rem;
            height: 60%;
            width: 60%;
            color: clr-neutral(900);
          }

          &:hover,
          &:focus-visible {
            background: clr-primary(300);
            border: 1px solid clr-primary(300);

            .icon {
              color: clr-neutral(100);
            }
          }
        }
      }

      &-second {
        background: clr-neutral(900);
        padding: 2rem 0;

        .title,
        span {
          text-align: center;
          color: clr-neutral(100);
        }

        .title {
          font-size: 1.6rem;

          @include mq(breakpoint(medium)) {
            font-size: 2.4rem;
          }
        }

        .content {
          &-container {
            padding: 0 1rem;

            @include mq(breakpoint(medium)) {
              padding: 0 2rem;
            }
          }

          &-link {
            @include mq(breakpoint(medium)) {
              flex-direction: row;
              align-items: center;
              justify-content: center;
            }

            @include mq(breakpoint(large)) {
              justify-content: center;
            }

            .button {
              &-regular,
              &-complementary {
                &:hover,
                &:focus-visible {
                  box-shadow: 0 2px 8px rgba(black, 0.4);
                }
              }
            }
          }
        }
      }

      &-third {
        padding-top: 6rem;

        @include mq(breakpoint(medium)) {
          align-items: center;
          justify-content: space-between;

          .illustration {
            @include movingRight(0.5s) {
            }

            @include mq(breakpoint(medium)) {
              @include movingRight(0.5s) {
              }
            }
          }
        }
      }
    }

    .content {
      &-container {
        margin: 3rem 0;

        @include mq(breakpoint(medium)) {
          @include movingTop(0.3s) {
          }
        }
      }

      &-link {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .button-regular {
          margin: 0.25rem 0;
          width: 100%;
        }

        @include mq(breakpoint(medium)) {
          margin-top: 2rem;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          .button {
            &-regular {
              width: auto;
              margin: 0;
            }

            &-complementary {
              margin-left: 1rem;
            }
          }
        }

        @include mq(breakpoint(large)) {
          margin-top: 3rem;
        }
      }
    }
  }
}
