@use '../../functions' as *;

.body {
  position: relative;
  margin: -5rem 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: clr-neutral(100);

  &-page {
    width: breakpoint(large);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .page-container {
    padding: 5rem 0 20rem;

    @include mq(breakpoint(large)) {
      max-width: 37.5rem;
    }

    & > section:nth-child(1) {
      margin-top: 0;
      padding-top: 2rem;

      @include mq(breakpoint(large)) {
        padding-top: 4rem;
      }
    }
  }
}
