@use '../../functions' as *;

.disclaimer {
  &-title {
    margin: 0 0 0.75rem 0;
    padding-bottom: 0.25rem;
    font-family: 'Poppins';
    font-weight: 400;
    text-transform: uppercase;
    color: clr-neutral(700);
    border-bottom: 1px solid clr-neutral(500);
  }

  &-content {
    margin: 0;

    small {
      font-size: 0.75rem;
      color: clr-neutral(700);
      line-height: 1.75rem;
    }
  }
}
