@use '../../functions' as *;

.page-container.page-education-item {
  & + .side-content {
    padding-top: 8rem;
  }

  section.section-main {
    padding-top: 2rem;
    padding-bottom: 3rem;

    @include mq(breakpoint(large)) {
      padding-top: 4rem;
    }
  }

  .content-container {
    span {
      line-height: 1.8rem;

      @include mq(breakpoint(medium)) {
        line-height: 2rem;
      }
    }

    .title {
      font-size: 1.8rem;

      @include mq(breakpoint(medium)) {
        font-size: 2rem;
      }

      &.outline-2 {
        font-size: 1.6rem;
        font-weight: 600;

        @include mq(breakpoint(medium)) {
          font-size: 1.8rem;
        }
      }
    }
  }

  .preview-article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      width: 20rem;
    }
  }

  .conclusion-container {
    margin: 2rem 0;
    padding: 2rem 0;

    .title {
      font-weight: 400;
    }
  }
}
