@use '../../functions' as *;

.page-container.page-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  max-width: 100%;

  section {
    margin: 0;
    border-bottom: 1px solid clr-neutral(1000);
    background: clr-neutral(1000);

    &.section {
      &-main {
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mq(breakpoint(small)) {
          padding: 3rem 0;
        }

        @include mq(breakpoint(medium)) {
          padding: 4rem 0;
        }

        @include mq(breakpoint(large)) {
          padding: 5rem 0;
          width: 100vw;
        }

        .title {
          font-size: 0.875rem;
          font-weight: 400;
          text-align: center;
          color: clr-neutral(100);

          @include mq(breakpoint(medium)) {
            font-size: 1.35rem;
          }

          @include mq(breakpoint(extraLarge)) {
            font-size: 1.6rem;
          }

          b {
            color: clr-primary(300);

            @include faded(0.5s) {
            }
          }
        }
      }

      &-second {
        position: relative;
        height: 5rem;
        border-top: 1px solid clr-neutral(1000);
      }
    }
  }

  .white-space {
    width: 100%;

    &.top {
      height: 3 * 15rem;
    }

    &.bottom {
      height: 3rem;

      @include mq(800px + 2) {
        height: 10rem;
      }
    }

    @include mq(800px + 2) {
      background: rgba(clr-primary(100), 0.08);
    }
  }

  .content {
    &-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: breakpoint(large);
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      z-index: 1;

      @include mq(breakpoint(medium)) {
        left: 50%;
        transform: translateX(-50%);
      }

      @include mq(800px) {
        justify-content: center;
      }

      @include mq(800px + (16 * 4)) {
        left: 2rem;
        justify-content: flex-start;
        transform: none;
      }

      @include mq(breakpoint(large) + (16 * 4)) {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-box {
      padding: 3rem 1rem;
      width: 100%;
      max-width: 50rem;
      background: clr-neutral(100);
      box-sizing: border-box;

      @include mq(breakpoint(medium)) {
        padding: 3rem 2rem;
      }

      @include mq(800px + 2) {
        padding: 3rem;
        border-radius: 4px;
        border: 1px solid rgba(clr-neutral(300), 0.5);
        box-shadow: 0px 4px 8px -2px rgba(clr-neutral(300), 0.5);
      }
    }
  }

  .heading {
    padding-bottom: 0.5rem;
    width: 100%;
    border-bottom: 1px solid clr-neutral(700);

    .title {
      font-weight: 500;
      font-size: 0.9rem;

      @include mq(breakpoint(medium)) {
        font-size: 1rem;
      }
    }
  }

  .article {
    &-box {
      margin: 2rem 0 1rem;

      .link {
        &-title {
          @include hvr-btn() {
            color: clr-neutral(1000);
            background: none;
            text-decoration: underline;
          }
        }

        &-content {
          @include hvr-btn() {
            color: clr-neutral(1000);
            background: none;
          }
        }
      }

      .title {
        font-size: 1.1rem;

        @include hvr-btn() {
          color: clr-neutral(1000);
          background: none;
          text-decoration: underline;
        }
      }

      .sub-info {
        span,
        a {
          font-size: 0.75rem;
        }
      }

      .content-paragraph {
        margin: 0.5rem 0 0;
        height: 1rem * (1.6 * 3);
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        @include mq(breakpoint(medium)) {
          height: 1rem * (1.8 * 3);
        }

        &-text {
          font-size: 0.875rem;

          @include mq(breakpoint(medium)) {
            font-size: 1rem;
          }
        }
      }
    }

    &-link {
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;

      .icon {
        margin-right: 0.5rem;
      }

      .link {
        cursor: pointer;
        margin-right: -0.5rem;
        padding: 0.25rem 0.5rem;
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        font-weight: 700;
        color: clr-primary(300);

        @include hvr-btn() {
          color: clr-primary(200);
          background: none;
          text-decoration: underline;
        }
      }
    }
  }
}
