@use '../../functions' as *;

.page-container.page-education-item {
  & + .side-content {
    padding-top: 8rem;
  }

  section.section-main {
    padding-top: 2rem;
    padding-bottom: 3rem;

    @include mq(breakpoint(large)) {
      padding-top: 4rem;
    }
  }

  .content-container {
    span {
      line-height: 1.8rem;

      @include mq(breakpoint(medium)) {
        line-height: 2rem;
      }
    }

    .title {
      font-size: 1.8rem;

      @include mq(breakpoint(medium)) {
        font-size: 2rem;
      }

      &.outline-2 {
        font-size: 1.6rem;
        font-weight: 600;

        @include mq(breakpoint(medium)) {
          font-size: 1.8rem;
        }
      }
    }
  }

  .preview-article-container {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      width: 20rem;
      height: auto;
    }
  }

  .image {
    width: 100%;

    &,
    &-wrapper,
    &-text {
      border-radius: 4px;
    }

    &-container {
      margin: 1.5rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-text,
    &-button {
      opacity: 0;
    }

    &-caption,
    &-source {
      transform: translateY(1rem);
    }

    &-text,
    &-button,
    &-caption,
    &-source,
    &-ornament {
      transition: all 0.3s ease-in-out;
    }

    &-text {
      position: absolute;
      bottom: 0;
      padding: 1rem;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      background: linear-gradient(
        to top,
        mix(black, clr-neutral(1000)),
        rgba(clr-neutral(1000), 0.05)
      );
    }

    &-ornament {
      height: 0.25rem;
      width: 0rem;
      border-radius: 2rem;
      background: clr-primary(200);
    }

    &-caption {
      margin-top: 0.75rem;
      display: block;
      color: clr-neutral(100);
    }

    &-source {
      display: block;
      color: clr-neutral(100);
      font-style: italic;
      font-size: 0.65rem;

      @include mq(breakpoint(medium)) {
        font-size: 0.75rem;
      }

      b {
        color: clr-primary(200);
      }
    }

    &-button {
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: none;
      background: none;
      z-index: 2;

      .icon {
        color: clr-neutral(100);
        height: 1.5rem;
        width: 1.5rem;
      }

      &:focus-visible {
        opacity: 1;
        outline: 2px solid clr-primary(100);
        background: clr-neutral(1000);

        & + .image-text {
          opacity: 1;

          .image {
            &-ornament {
              width: 3rem;
            }

            &-caption,
            &-source {
              transform: translate(0);
            }
          }
        }
      }
    }

    &-wrapper {
      position: relative;
      width: 18.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: 1px solid rgba(clr-neutral(300), 0.15);
      box-shadow: 0px 6px 12px rgba(clr-neutral(1000), 0.1);
      overflow: hidden;

      @include mq(breakpoint(medium)) {
        width: 25rem;
      }

      &:hover {
        .image {
          &-text,
          &-button {
            opacity: 1;
          }

          &-button {
            background: clr-neutral(1000);
          }

          &-ornament {
            width: 3rem;
          }

          &-caption,
          &-source {
            transform: translate(0);
          }
        }
      }

      &.overlay {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
        background: clr-neutral(100);
        z-index: 150;

        .image {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 100%;
          transform: translate(-50%, -50%);
          object-fit: contain;
          z-index: 1;

          &-button {
            opacity: 1;
            background: clr-neutral(1000);
            border: 1px solid clr-primary(200);
            box-shadow: 0 2px 8px rgba(black, 0.4);
          }

          &-text {
            display: none;
          }
        }
      }
    }
  }

  .conclusion-container {
    margin: 1rem 0;
    padding: 1rem 0;

    .title {
      font-weight: 400;
    }
  }

  .disclaimer {
    &-title {
      margin-bottom: 1rem;
      padding-bottom: 0.25rem;
      font-family: 'Poppins';
      font-weight: 400;
      text-transform: uppercase;
      color: clr-neutral(700);
      border-bottom: 1px solid clr-neutral(500);
    }

    &-content {
      margin: 0;

      small {
        font-size: 0.75rem;
        color: clr-neutral(700);
        line-height: 1.75rem;
      }
    }
  }
}
